/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110vh;

  background: linear-gradient(to right, #0994f7, #e9e9ea);

  /* Background image 
  background: url("background.PNG") no-repeat center center/cover;
  */
}

.pretip{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 1.5rem;
    color: #f9f9f9;
}

.login-container {
  background: rgba(176, 206, 231, 0.8); /* white with transparency */
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(251, 249, 249, 0.2);
  width: 100%;
  max-width: 350px;
}


.login-container h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #0994f7;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  color: #f6f6f6;
}

.form-group input {
  width: 100%;
  padding: 0.7rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}

.form-group input:focus {
  border-color: #4a90e2;
  outline: none;
}

.btn {
  width: 100%;
  padding: 0.8rem;
  background: #068ef0;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s;
}

.btn:hover {
  background: #ea5151;
}

.error {
  color: red;
  font-size: 0.9rem;
  margin-top: 0.5rem;
  text-align: center;
}

.success {
  color: green;
  font-size: 0.9rem;
  margin-top: 0.5rem;
  text-align: center;
}

@media (max-width: 480px) {
  .login-container {
    padding: 1.5rem;
  }
}
